rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /tasks/{taskId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update: if request.auth != null;
    }
    match /transactions/{tx} {
      allow read, create: if request.auth != null;
      allow update: if request.auth != null;
    }
    match /proofs/{p} {
      allow read, create, update: if request.auth != null;
    }
  }
}

